.list1 {
  font-style: italic;
  color: red;
}

.list2 {
  font-weight: bold;
  color: blue;
}

.aboutme {
  font-style: italic;
  font-size: 70%;
}

.box {
  margin-top: 10px;
  margin-bottom: 10px;
}